:root {
  /* MAIN COLOR */
  --black: #050307ff;
  --black-2: #0c0712ff;
  --raisin-black: #130b1dff;
  --dark-purple: #1a0f27ff;
  --dark-purple-2: #211332ff;
  --russian-violet: #28173dff;
  --russian-violet-2: #2f1b48ff;
  --russian-violet-3: #361f52ff;
  --russian-violet-4: #3d235dff;
  --russian-violet-5: #442768ff;

  /* HIGHLIGHT COLOR */
  --rose: #F72587ff;
  --deep-pink: #F8328Eff;
  --rose-bonbon: #F93F95ff;
  --rose-bonbon-2: #FA4B9Cff;
  --brilliant-rose: #FB58A3ff;
  --hot-pink: #FB65AAff;
  --hot-pink-2: #FC72B1ff;
  --persian-pink: #FD7EB8ff;
  --persian-pink-2: #FE8BBFff;
  --carnation-pink: #FF98C6ff;
}
