@import url("./palette.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.sr-only {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  z-index: -10;
}

body {
  font-family: sans-serif;
  font-size: 1.125rem;
  background-color: gray;
  padding-inline: 4rem;
}

img {
  max-width: 100%;
}

article,
.window-frame {
  margin-block: 8rem;
  position: relative;
  isolation: isolate;
}

ul {
  list-style: none;
}

.skill-card {
  background-color: #28173d;
  width: 14rem;
  height: 13.75rem;
  clip-path: polygon(00% 0%, 90% 0%, 100% 10%, 100% 100%, 0% 100%);
  position: relative;
  padding-inline: 1.125rem;
}

.skill-card::before {
  width: 9.375rem;
  height: 3rem;
  background-color: #130b1d;
  content: "";
  display: block;
  position: relative;
  border: 0.25rem inset #0c0712;
}

.skill-card::after {
  width: 7.75rem;
  height: 2.625rem;
  background-color: #d9d9d9;
  content: "";
  display: block;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 1.375rem;
}

.skill-card__title,
.skill-card__desc {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.skill-card__title::before {
  width: 1.5rem;
  height: 2.1875rem;
  content: "";
  display: block;
  background-color: #07040b;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 1.75rem;
}

.skill-card__title {
  padding: 0.5rem;
  margin-top: 48px;
  background-color: #3f3d56;
  color: #fff;
}

.skill-card__desc {
  height: 100%;
  background-image: repeating-linear-gradient(
    0deg,
    #07040b,
    #07040b 0.125rem,
    transparent 0.125rem,
    transparent
  );
  background-size: 1.5rem 1.5rem;
  background-color: #b3b3b3;
  font-size: 1.5rem;
  border: 0.25rem inset #0c0712;
  padding-top: 1.5rem;
}

.project-card {
  background-image: url("./folder_bg.svg");
  background-size: 400px;
  background-repeat: no-repeat;
  width: 25rem;
  height: 15.625rem;
  position: relative;
  font-family: monospace;
  color: white;
  overflow: visible;
}

.project-card::before {
  display: block;
  content: "";
  position: absolute;
  z-index: 1;
  top: 3rem;
  left: 2rem;
  width: 100%;
  height: 100%;
  background-color: #a59eaf;
  border: 4px outset #d8cee4;
  box-shadow: 0 0 8px #050307, -1rem -1rem #28173d, -1rem -1rem 8px #050307;
}

.project-card::after {
  display: block;
  content: "";
  position: absolute;
  z-index: 2;
  top: 4.25rem;
  left: 3.25rem;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background-color: #050307;
  border: 4px inset #d8cee4;
}

.project-card__title,
.project-card__info {
  position: inherit;
  z-index: 10;
  padding-left: 4.5rem;
}

.project-card__title {
  padding-top: 5.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.75rem;
}

.project-card__title::before {
  content: "./";
}

.project-card__title::after {
  content: "_";
}

.project-card__info {
  display: flex;
  gap: 2rem;
}

.meta-data__key {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px dashed;
}

.meta-data__key::after {
  content: ":";
}

.window-frame {
  background-color: var(--black-2);
  border: 16px solid #a59eaf;
  color: #fff;
}

.window-frame::before {
  display: block;
  content: "";
  padding-left: 1rem;
  padding-top: 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  top: -3.25rem;
  left: -1.25rem;
  width: calc(100% + 2.5rem);
  height: calc(100% + 4.5rem);
  border: 4px outset #d8cee4;
  box-shadow: 0 0 8px #050307;
  background-image: url("./window_frame_header.svg");
  background-size: auto 32px;
  background-repeat: repeat-x;
}

.window-frame::after {
  display: block;
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px inset #d8cee4;
}

.skill {
  max-width: 70vw;
  font-family: monospace;
  display: grid;
  grid-template-areas: "heading banner" "desc banner";
  grid-template-columns: 3fr 2fr;
  gap: 4rem;
  padding: 2.375rem;
}

.skill__title,
.skill__tag,
.skill__desc,
.skill__banner {
  position: inherit;
  z-index: 3;
}

.skill__header {
  grid-area: heading;
  border-bottom: 4px dashed;
}

.skill__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.skill__tag {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.25rem 1.25rem;
  background-color: #d9d9d9;
  color: var(--black);
  max-width: fit-content;
  margin-bottom: 4rem;
}

.skill__desc {
  grid-area: desc;
  padding: 1rem;
  border: 2px solid #d9d9d9;
}

.skill__banner {
  grid-area: banner;
  position: relative;
  box-shadow: 0 0 8px black;
}

.skill__banner img {
  height: 100%;
  object-fit: cover;
}

.skill__banner::after {
  display: block;
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./glitch_cover.svg");
  background-size: cover;
}

.project {
  background-color: var(--black-2);
  border: 40px solid #a59eaf;
  border-radius: 16px;
  padding: 1rem;
  color: #fff;
  font-family: monospace;
  max-width: 70vw;
  display: grid;
  gap: 4rem;
}

.project::before {
  display: block;
  content: "";
  padding-left: 1rem;
  padding-top: 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  top: -2.5rem;
  left: -2.5rem;
  width: calc(100% + 5rem);
  height: calc(100% + 5rem);
  border: 8px outset #d8cee4;
  border-radius: 16px;
  box-shadow: 0 0 8px #050307;
}

.project::after {
  display: block;
  content: "";
  position: absolute;
  z-index: 1;
  top: -8px;
  left: -8px;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  border: 8px inset #d8cee4;
  border-radius: 16px;
}

.project__header {
  border-bottom: 4px dashed;
  display: grid;
  gap: .5rem;
  grid-template-areas: "heading year close" "stack blank blank";
  grid-template-columns: repeat(3, 1fr);
}

.project__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  grid-area: heading;
  width: fit-content;
}

.project__year {
  font-size: 16px;
  grid-area: year;
  align-self: center;
}

.project__year::before {
  content: "•";
}

.project__stacks {
  display: flex;
  width: fit-content;
  gap: .5rem;
  text-transform: uppercase;
  grid-area: stack;
}

.project__menu {
  grid-area: close;
  justify-self: flex-end;
  width: fit-content;
  list-style: none;
}

.project__close {
  display: block;
  width: 4rem;
  height: 4rem;
  border: 4px outset var(--rose-bonbon);
  background-color: var(--rose);
  color: var(--black);
  font-weight: bold;
  box-shadow: 0 0 8px var(--rose);
  text-transform: uppercase;
  font-size: 1.75rem;
  text-align: center;
}

.project__stack {
  background-color: #d9d9d9;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.25rem 1.25rem;
  background-color: #d9d9d9;
  color: var(--black);
  max-width: fit-content;
  margin-bottom: 4rem;
}

.project__desc {
  padding: 1rem;
  border: 2px solid;
}

.project__links {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.project__link {
  flex: 1;
  max-width: 200px;
  text-align: center;
  padding: .5rem 1rem;
  border: 4px outset var(--rose-bonbon);
  box-shadow: 0 0 8px var(--rose-bonbon);
  text-shadow: 0 0 8px var(--rose-bonbon);
  text-transform: uppercase;
  color: var(--rose-bonbon);
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 1.25rem;
  background-color: #F1E7FF;
}

::-webkit-scrollbar-button {
  width: 100%;
  height: 3rem;
  border: 4px outset #d9d9d9;
  background-color: #a59eaf;
}

::-webkit-scrollbar-thumb {
  width: 100%;
  height: 6rem;
  border: 4px outset #D8CEE4;
  background-color: #a59eaf;
}